<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <title>Attractions</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<h1>Alle Attraktioner</h1>

<table>
    <tr>
        <th>Navn</th> <th>Beskrivelse</th> <th>By</th>
    </tr>
    <tr th:each="attraction:${attractions}">
        <td th:text="${attraction.name}"></td>
        <td th:text="${attraction.description}"></td>
        <td th:text="${attraction.city}"></td>

        <td>
            <button><a th:href="@{/attractions/{name}/tags(name=${attraction.name})}">Tags</a></button>
        </td>


        <td>
            <form th:action="@{/attractions/delete/{name}(name=${attraction.name})}" th:method="post">
                <button type="submit">Slet</button>
            </form>
        </td>
        <td>
            <button><a th:href="@{/attractions/{name}/edit(name=${attraction.name})}">Opdater</a></button>
        </td>
    </tr>
</table>

<br>

<button><a th:href="@{/attractions/add}">Tilføj</a></button>

</body>
</html>