<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="*{name}"></h1>

<form th:action="@{/attractions/update}" th:object="${attraction}" method="post">
    <input type="hidden" th:field="*{name}">
    <label>Navn:</label>
    <div type="text" th:field="*{name}"></div>
    <br>

    <label>Beskrivelse:</label>
    <textarea th:field="*{description}" placeholder="Beskriv attraktionen her" required></textarea>
    <br>

    <label>By:</label>
    <select th:field="*{city}">
        <option th:each="city : ${cities}" th:value="${city}" th:text="${city}"></option>
    </select>
    <br>

    <label>Tags:</label>
    <div th:each="tag : ${tags}">
        <input type="checkbox" th:field="*{tags}" th:value="${tag}">
        <span th:text="${tag}"></span>
    </div>
    <br>

    <button type="submit">Opdater</button>
</form>

<button><a href="/attractions">Tilbage</a></button>

</body>
</html>