<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="dk">
<head>
    <meta charset="UTF-8">
    <title>Attraction</title>
    <link rel="stylesheet" th:href="@{/main.css}">
    <link rel="icon" type="image/png" th:href="@{/images/favicon_test.png}">
</head>
<body>
    <h1 th:text="*{name}"></h1>
    <p th:text="${attraction.description}"></p>

    <br>
    <p th:text="${attraction.city}"></p>

    <br>
    <ul>
        <li th:each="tag : ${attraction.tags}" th:text="${tag}"></li>
    </ul>
</body>
</html>